@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar, #tabbrowser-tabs{
    background-color: #2a3233 !important;
    color: #b1bbb8 !important;
    font-family: "scientifica", monospace !important;
    font-size: 10px !important;
    /*filter: grayscale(1) !important;*/
}

#nav-bar {
    background-color: #364041 !important;
    border-color: #364041 !important;
    box-shadow: 0 1px 0 0 #364041 !important;
}

#toolbar-menubar {
    background-color: #2a3233 !important;
}

xul|*:root:-moz-lwtheme {
    --toolbox-border-bottom-color: #364041 !important;
}

.tab-content[selected] {
    color: #e2efeb !important;
    background-color: #364041 !important;
}

#urlbar {
    border-radius: 0 !important;
    font-family: "scientifica", monospace !important;
    font-size: 10px !important;
    background-color: #424e50 !important;
    border-color: #4c595c !important;
}

#urlbar[focused] {
    border-color: #5b6c6e !important;
}

*.urlbar-input::-moz-selection {
    background: #888 !important;
}

xul|browser {
    background-color: #364041 !important;
}

#urlbar-results, #urlbar-results .urlbarView-row {
    border-color: #364041 !important;
    box-shadow: none !important;
    font-family: "scientifica", monospace !important;
    font-size: 10px !important;
    background-color: #364041 !important;
    color: #b1bbb8 !important;
}

#urlbar-results .urlbarView-title-separator, #urlbar-results .urlbarView-action, #urlbar-results .urlbarView-url {
    font-family: "scientifica", monospace !important;
    font-size: 10px !important;
    color: #b1bbb8 !important;
}

#urlbar-results .urlbarView-row[selected], #urlbar-results .urlbarView-row[selected] .urlbarView-title-separator, #urlbar-results .urlbarView-row[selected] .urlbarView-action, #urlbar-results .urlbarView-row[selected] .urlbarView-url {
    color: #e2efeb !important;
}

#urlbar-results .urlbarView-row:hover {
    color: #e2efeb !important;
}
